
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@using CERTIVAL.Models
@model LoginViewModel
@{
    ViewBag.Title = "Ingresar  a su Cuentan";
}

<div class="container">   
    <div class="bg-login-m">
        <div class="row pure-g">
            <div class="pure-u-14-24">
                <section id="socialLoginForm">
                    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                </section>
            </div>
        </div>


        <div class="login-space">
            <div class="br-login"></div>
            <h3>@ViewBag.Title.</h3>
            <img src="~/Content/img/logo-certival-small-l.png" />
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
            @Html.AntiForgeryToken()
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">

                        <div class="">
                            @Html.TextBoxFor(m => m.Email, new { @class = "input-user", placeholder = "Dirección de correo electrónico" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="">

                        <div class="">
                            @Html.PasswordFor(m => m.Password, new { @class = "input-user", placeholder = "Contraseña" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="space">
                        <div class="">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>
                    <div class="space-bottomlogin">
                        <div class="">
                            <input type="submit" value="Iniciar Sesión" class="pure-button pure-button-primary" />
                        </div>
                    </div>
                    <div style="margin-top:50px;">
                        <p class="space">
                            @Html.ActionLink("¿Olvidaste tu contraseña?", "ForgotPassword")
                        </p>

                        <p class="space">

                            @Html.ActionLink("Registrarse como un usuario nuevo", "Register")
                        </p>
                    </div>
                    
                    @* Enable this once you have account confirmation enabled for password reset functionality
                        <p>
                            @Html.ActionLink("¿Olvidaste tu contraseña?", "ForgotPassword")
                        </p>*@
                }
            </section>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}